<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Self Management</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="#"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li><a href="#"><span class="glyphicon glyphicon-cutlery"></span> Food</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-glass"></span> Drink</a></li>
      <li><a href="#">アクセス</a></li>
      <li><a href="#">予約</a></li>
    </ul>
  </div>
</nav>
